@import "variables.scss";

.full-height {
  height: 100%;
}

// common help modal styles
.help {
  float: right;
  font-size: 22px;
}

.help-modal .modal-container {
  width: 80%;
}

.help-modal-body {
  max-height: 500px;
  overflow: auto;
}

$blur-radius: 10px;

// colour palette
$color-1: #45503B;
$color-2: #747572;
$color-3: #B098A4;
$color-4: #DBD9DB;
$color-5: #E5EBEA;

$background: $color-2;
$text: $color-4;
$text-highlight: $color-5;
$borders: $color-1;
