#Directories to be ignored fully
/books/
/articles/
/other/
/output/
/graphics/
/webapp/models/*
data/
tmp/
*_tmp/

# Keep folders with this
!.keep

#tmp and similar files
.nfs*
*.pyc
*.out
*.swp
*.swn
tmp_*
t_*
tmp_*
*_tmp
*.swo
*.lyx.emergency
*.lyx#
*~
*hidden*
db.sqlite3
nohup.out
tmp.py
