version: '3.4'

services:
  medcattrainer:
    build:
        network: host
        context: ./webapp
    volumes:
      - ./webapp/api/core:/home/api/core
      - ./webapp/api/api:/home/api/api
      - ./webapp/run.sh:/home/run.sh
      - api-media:/home/api/media
      - api-static:/home/api/static
      - api-db:/home/api/db
    expose:
      - "8000"
    env_file:
      - ./envs/env
    command: /home/run.sh
  nginx:
    build:
        network: host
        context: ./nginx
    restart: always
    volumes:
      - api-media:/home/api/media
      - api-static:/home/api/static
    ports:
      - "8001:8000"
    depends_on:
      - medcattrainer
volumes:
      api-media:
      api-static:
      api-db:
