version: '3.4'

# Default compose yml file - uses latest build of MedCATtrainer services. Default passwords and example
# projects are not used.

services:
  medcattrainer:
    image: cogstacksystems/medcat-trainer:v2.15.0
    restart: always
    volumes:
      - ./configs:/home/configs
      - api-media:/home/api/media
      - api-static:/home/api/static
      - api-db:/home/api/db
      - api-db-backup:/home/api/db-backup
    env_file:
      - ./envs/env
    environment:
      - MCT_VERSION=v2.15.0
    command: /home/scripts/run.sh

  # crontab - for db backup
  medcattrainer-db-backup:
    image: cogstacksystems/medcat-trainer:v2.15.0
    restart: always
    volumes:
      - ./configs:/home/configs
      - api-media:/home/api/media
      - api-static:/home/api/static
      - api-db:/home/api/db
      - api-db-backup:/home/api/db-backup
    env_file:
      - ./envs/env
    entrypoint: /home/scripts/entry.sh
    command: cron -f -l 2

  nginx:
    image: cogstacksystems/medcat-trainer-nginx:v2.15.0
    restart: always
    volumes:
      - api-media:/home/api/media
      - api-static:/home/api/static
    ports:
      - ${MCTRAINER_PORT:-8001}:8000
    depends_on:
      - medcattrainer
      - solr

  solr:
    container_name: mct_solr
    image: solr:8
    restart: always
    ports:
      - ${SOLR_PORT:-8983}:8983
    volumes:
      - solr-data:/var/solr
    command:
      - -cloud

volumes:
  api-media:
  api-static:
  api-db:
  api-db-backup:
  solr-data:

