version: '3.4'

# Prod compose file -

services:
  medcattrainer:
    container_name: medcattrainer
    hostname: medcat
    restart: always
    image: cogstacksystems/medcat-trainer:v2.12.3
    volumes:
      - ./configs:/home/configs
      - api-media:/home/api/media
      - api-static:/home/api/static
      - api-db:/home/api/db
      - api-db-backup:/home/api/db-backup
    expose:
      - "8000"
    env_file:
      - ./envs/env-prod
    environment:
      - MCT_VERSION=v2.12.3
    command: /home/scripts/run.sh

  # crontab - for db backup
  medcattrainer-db-backup:
    image: cogstacksystems/medcat-trainer:v2.12.3
    restart: always
    volumes:
      - ./configs:/home/configs
      - api-media:/home/api/media
      - api-static:/home/api/static
      - api-db:/home/api/db
      - api-db-backup:/home/api/db-backup
    env_file:
      - ./envs/env
    entrypoint: /home/scripts/entry.sh
    command: cron -f -l 2

  nginx:
    container_name: medcattrainer_nginx
    image: cogstacksystems/medcat-trainer-nginx:v2.12.3
    restart: always
    volumes:
      - api-media:/home/api/media
      - api-static:/home/api/static
    ports:
      - "${MCTRAINER_PORT:-8001}:8000"
    depends_on:
      - medcattrainer
      - solr

  solr:
    container_name: mct_solr
    image: solr:8
    restart: always
    expose:
      - "8983"
    volumes:
      - solr-data:/var/solr
    command:
      - -cloud  # solr cloud launches
volumes:
  api-media:
  api-static:
  api-db:
  api-db-backup:
  solr-data:
