version: '3.4'

# Dev compose yml file for building, running and mounting local git cloned repo.

services:
  medcattrainer:
    build:
      network: host
      context: ./webapp
      args:
        SPACY_MODELS: ${SPACY_MODELS:-en_core_web_md}
    restart: always
    volumes:
      - ./webapp/api/core:/home/api/core
      - ./webapp/api/api:/home/api/api
      - ./webapp/run.sh:/home/run.sh
      - ./configs:/home/configs
      - api-media:/home/api/media
      - api-static:/home/api/static
      - api-db:/home/api/db
    env_file:
      - ./envs/env
    environment:
      - MCT_VERSION=latest
    command: /home/run.sh

  nginx:
    build:
      network: host
      context: ./nginx
    restart: always
    volumes:
      - api-media:/home/api/media
      - api-static:/home/api/static
    ports:
      - ${MCTRAINER_PORT:-8001}:8000
    depends_on:
      - medcattrainer
      - solr

  solr:
    image: solr:8
    restart: always
    ports:
      - ${SOLR_PORT:-8983}:8983
    volumes:
      - solr-data:/var/solr
    command:
      - -cloud

volumes:
  api-media:
  api-static:
  api-db:
  solr-data:
