{% autoescape off %}
You’re receiving this email because you requested a password reset for your user account 
with MedCATTrainer at {{ site_name }}.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}.

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,

The Cogstack Team
{% endautoescape %}