{% extends 'base.html' %}
{% load staticfiles %}
{% load js %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <!-- TODO: use non-cdn links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block body %}
  <div id="app" class="container-fluid app-container">
    <div class="app-header">
      <h4>{{ title }} Training Samples</h4>
    </div>
    <div class="app-main">
      <sidebar :text="text" :items="items" :tasks="tasks"
               :task-idx="current.taskIndex"
               :span-idx="current.spanIndex"></sidebar>
      <clinical-text :text="text" :span="current.span"
                     :task="tasks[current.taskIndex]"
                     class="border-top"
                     id="mainTextArea"></clinical-text>
    </div>
    <div class="app-footer">
      <task-bar :tasks="tasks" :current-task="current.task" :select="select"></task-bar>
      <nav-bar :tasks-complete="tasksComplete" :submit-func="submit"
        :current="current" :total-tasks="tasks.length" :total-spans="items.length"
        :next="next" :back="back" :submit="submit"></nav-bar>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--<script src=¡"https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>-->

  <!-- switch to production CDN before going to prod! -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

  <script type="text/javascript">
    taskTrainingData = function() {
      let trainingData = {
        data: {{ data | js }},
        tasks: {{ tasks | js }}
      };
      return JSON.parse(JSON.stringify(trainingData));
    };
  </script>
  <script src="{% static 'js/app.js' %}"></script>

{% endblock %}
