{% extends 'base.html' %}
{% load staticfiles %}
{% load js %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <!-- TODO: use non-cdn links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}
  <div id="app" class="container-fluid app-container">
    <div class="app-header">
      <h4>{{ title }} Training Samples</h4>
      <h5 class="file-name-heading">Editing File:
        <span class="file-name">{{ data.f_name }}</span>
        out of
        <span class="file-name">{{ data.f_names | length }}</span>
      </h5>
      <button class="help btn btn-default" @click="helpModal = true"><i class="fa fa-question-circle fa-lg"></i></button>
    </div>
    <div class="app-main">
      <sidebar :text="text" :items="items" :tasks="tasks"
               :task-idx="current.taskIndex"
               :span-idx="current.spanIndex"></sidebar>
      <clinical-text :text="text" :span="current.span"
                     :task="tasks[current.taskIndex]"
                     class="border-top"
                     id="mainTextArea"></clinical-text>
    </div>
    <div class="app-footer">
      <task-bar :tasks="tasks" :current-task="current.task" :select="select"></task-bar>
      <nav-bar :tasks-complete="tasksComplete"
        :current="current" :total-tasks="tasks.length" :total-spans="items.length"
        :next="next" :back="back" :submit="submit" :mark-incomplete="incomplete"></nav-bar>
    </div>
    <modal v-if="saveModal">
      <h3 slot="header" class="text-success">Save Successful</h3>
      <div slot="body"></div>
      <div slot="footer">
        <button class="btn btn-primary" @click="reload()">Next Document</button>
      </div>
    </modal>

    <modal v-if="failModal">
      <h3 slot="header" class="text-danger">Save Failed</h3>
      <div slot="body">
        Please contact cat-trainer-dev team for further investigation
      </div>
    </modal>

    <modal v-if="helpModal" class="help-modal">
      <h3 slot="header">{{ title }} Tagging Help</h3>
      <div slot="body">
          <help-modal :descriptions="taskDescriptions"></help-modal>
      </div>
      <div slot="footer">
        <button class="btn btn-primary" @click="helpModal = false">Close</button>
      </div>
    </modal>

    <modal v-if="errorModal">
      <h3 slot="header" class="text-danger">Failed To Load Next Tagged File</h3>
      <div slot="body">
        <p>No files found to annotate and tag.</p>
        <p>Either upload more files to tag</p>
        <p>Or tagged and annotated files from the home screen.</p>
      </div>
      <div slot="footer">
        <a href="/"><button class="btn btn-primary">CAT Home</button></a>
      </div>
    </modal>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

  <script type="text/javascript">
    taskTrainingData = function() {
      let trainingData = {
        data: {{ data | js }},
        tasks: {{ tasks | js }},
        taskDescriptions: {{ taskDescriptions | js }}
      };
      return JSON.parse(JSON.stringify(trainingData));
    };
  </script>
  <script src="{% static 'js/app.js' %}"></script>

{% endblock %}
