{% extends 'base.html' %}
{% load staticfiles %}
{% load js %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
<div class='container usecase' id="app">
    <h3> Welcome to CAT </h3>
</div>
<!-- external js -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script type="text/javascript">
  let contexts = function() {
    let context = {
      context: {{ data | js }}
    };
    return JSON.parse(JSON.stringify(context));
  };
</script>
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
