{% extends 'base.html' %}
{% load staticfiles %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
<div class='container usecase'>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style='width: 25%'>UseCase</th>
                <th scope="col">Description</th>
                <th scope="col" style='width: 15%'>Trainable Tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for usecase in usecases %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'train' id=usecase.id %}">
                        {{ usecase.title }}</a></td>

                    <td>{{ usecase.description }}</td>
                    <td>
                        {% for task in usecase.tasks.all %}
                        {{ task.name }} <br />
                        {% endfor %}
                    </td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
