@import "variables.scss";

.full-height {
  height: 100%;
}

// common help modal styles
.help {
  float: right;
  font-size: 22px;
}

.help-modal .modal-container {
  width: 80%;
}

.help-modal-body {
  max-height: 500px;
  overflow: auto;
}

$blur-radius: 10px;

@each $i, $col in $task-colors {
  .task-btn-#{$i} {
    border-color: $col;
    color: $col;

    &:hover {
      background-color: $col;
      color: white;
    }
  }
}

.detail-panel {
  width: 500px;
}