// NHS Brand Colours
// https://www.england.nhs.uk/nhsidentity/identity-guidelines/colours/

@import "node_modules/bootstrap/scss/bootstrap";


$theme-colors: (
    "primary": #005EB8, //NHS Blue
    "danger": #DA291C, //NHS Emergency Services Red
    "warning": #768692, // NHS Mid Grey
    "info": #E8EDEE, // NHS Pale Grey
    "success": #009639 // NHS Green
);

$navbar-bg: #005EB8; // NHS Blue

// colour palette - for backgrounds, borders, text-color etc.
$color-1: #45503B;
$color-2: #E5EBEA;
$color-3: #B098A4;
$color-4: #45503B;
$color-5: #747572;

$background: inherit; //$color-2;
$text: black;
$text-highlight: black; //$color-5;
$borders: $color-1;


$task-color-0: #005EB8;  // NHS BLUE
$task-color-1: #dc3545;  // NHS Emergency Services Red
$task-color-2: #8A1538;  // NHS Dark Red
$task-color-3: #41B6E6;  // NHS Light Blue
$task-color-4: #AE2573;  // NHS Pink

$task-colors: (
    "0": $task-color-0,
    "1": $task-color-1,
    "2": $task-color-2,
    "3": $task-color-3,
    "4": $task-color-4,
);

$loading-background-color: #6c757d;

$title-height: 41px;
