/* variables */
:root {
  --task-color-0: #28a745;  /* bootstrap success, green */;
  --task-color-1: #dc3545;  /* bootstrap danger, red */
  --task-color-2: #ffc107;  /* bootstrap warning */
  --task-color-3: #17a2b8;  /* bootstrap info  */
  --task-color-4: #007bff;  /* bootstrap primary */
  --task-color-5: #868e96;  /* bootstrap secondary */
}

html, body {
  height: 100%;
  overflow: hidden;
}

.app-header, .app-footer {
  flex: 0 0 50px;
}

.app-header h4 {
  display: inline-block;
}

.help {
  float: right;
  font-size: 22px;
}

.help-modal .modal-container {
  width: 80%;
}

.app-footer {
  display: flex;
}

.app-container {
  display: flex;
  height: calc(100% - 56px);
  flex-direction: column;
  padding: 5px;
}

.app-main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.app-sidebar {
  flex: 0 0 450px;
  overflow: auto;
}

.app-sidebar table {
  font-size: 10pt;
}

.nav-bar, .task-bar {
  padding: 5px;
}

.nav-bar {
  width: 300px;
}

.task-bar {
  width: 100%;
  text-align: center;
}

.task-bar-task {
  display: inline-block;
  width: 200px;
}

.task-name {
  font-weight: bold;
  font-size: 22px;
}

.task-bar-choices {
  display: inline-block;
  width: calc(100% - 212px);
}


.note-container {
  overflow: scroll;
  flex: 1 1 auto;
}

.clinical-note {
  padding: 5px;
  white-space: pre-wrap;
}

.highlight-task-default {
  box-shadow: 0 0 10px 5px #1F0A23;
}

.highlight-task-0 {
  box-shadow: 0 0 10px 5px var(--task-color-0);
}

.highlight-task-1 {
  box-shadow: 0 0 10px 5px var(--task-color-1);
}

.highlight-task-2 {
  box-shadow: 0 0 10px 5px var(--task-color-2);
}

.highlight-task-3 {
  box-shadow: 0 0 10px 5px var(--task-color-3);
}

.highlight-task-4 {
  box-shadow: 0 0 10px 5px var(--task-color-4);
}

.highlight-task-5 {
  box-shadow: 0 0 10px 5px var(--task-color-5);
}

.task-btn-0 {
  background-color: var(--task-color-0);
  color: white;
}

.task-btn-1 {
  background-color: var(--task-color-1);
  color: white;
}

.task-btn-2 {
  background-color: var(--task-color-2);
  color: white;
}

.task-btn-3 {
  background-color: var(--task-color-3);
  color: white;
}

.task-btn-4 {
  background-color: var(--task-color-4);
  color: white;
}

.task-btn-5 {
  background-color: var(--task-color-5);
}

