/* variables */
:root {
  --task-color-0: #28a745;  /* bootstrap success, green */;
  --task-color-1: #dc3545;  /* bootstrap danger, red */
  --task-color-2: #ffc107;  /* bootstrap warning */
  --task-color-3: #17a2b8;  /* bootstrap info  */
  --task-color-4: #007bff;  /* bootstrap primary */
  --task-color-5: #868e96;  /* bootstrap secondary */
}

html, body {
  height: 100%;
  overflow: hidden;
}

.app-header, .app-footer {
  flex: 1;
}

.app-footer {
  display: flex;
}

.app-container {
  display: flex;
  height: calc(100% - 56px);
  flex-direction: column;
  padding: 5px;
}

.app-main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.app-sidebar {
  flex: 0 0 450px;
  overflow: auto;
}

.app-sidebar table {
  font-size: 10pt;
}

.nav-bar, .task-bar {
  padding: 5px;
}

.nav-bar {
  width: 300px;
}

.task-bar {
  width: 100%;
  text-align: center;
}

.task-bar-task {
  display: inline-block;
  width: 200px;
}

.task-name {
  font-weight: bold;
  font-size: 22px;
}

.task-bar-choices {
  display: inline-block;
  width: calc(100% - 212px);
}


.note-container {
  overflow: scroll;
  flex: 1 1 auto;
}

.clinical-note {
  padding: 5px;
  white-space: pre-wrap;
}

.highlight-task-default {
  box-shadow: 0 0 10px 5px #1F0A23;
}

.highlight-task-0 {
  box-shadow: 0 0 10px 5px var(--task-color-0);
}

.highlight-task-1 {
  box-shadow: 0 0 10px 5px var(--task-color-1);
}

.highlight-task-2 {
  box-shadow: 0 0 10px 5px var(--task-color-2);
}

.highlight-task-3 {
  box-shadow: 0 0 10px 5px var(--task-color-3);
}

.highlight-task-4 {
  box-shadow: 0 0 10px 5px var(--task-color-4);
}

.highlight-task-5 {
  box-shadow: 0 0 10px 5px var(--task-color-5);
}

.task-btn-0 {
  background-color: var(--task-color-0);
  color: white;
}

.task-btn-1 {
  background-color: var(--task-color-1);
  color: white;
}

.task-btn-2 {
  background-color: var(--task-color-2);
  color: white;
}

.task-btn-3 {
  background-color: var(--task-color-3);
  color: white;
}

.task-btn-4 {
  background-color: var(--task-color-4);
  color: white;
}

.task-btn-5 {
  background-color: var(--task-color-5);
}

/* Modal related styles */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  text-align: center;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  display: flex !important;
  justify-content: center !important;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
