--extra-index-url https://download.pytorch.org/whl/cpu/
uwsgi==2.0.*
Django==5.1.*
django-filter==24.2.*
django-polymorphic==3.0.*
djangorestframework==3.15.*
django-background-tasks-updated==1.2.*
openpyxl==3.1.2
medcat[meta-cat,spacy,rel-cat,deid] @ git+https://github.com/CogStack/cogstack-nlp.git@refs/tags/medcat/v0.12.0#subdirectory=medcat-v2
